@model WebApplication.Models.EmployeeGroupUpdateModel
@using System.Linq

@{
    IList<SelectListItem> administratorList = Model.Administrators.Select(o => new SelectListItem() { Value = o.AdministratorId, Text = o.Name, }).ToList();
    IList<SelectListItem> timeList = new List<SelectListItem>();
    for (var index = 0; index < 24; index++)
    {
        timeList.Add(new SelectListItem() { Value = index.ToString(), Text = index.ToString().PadLeft(10, ' ') });
    };
}


<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" style="padding:10px;">
        <form>
            <input type="hidden" asp-for="EmployeeGroupId" />
            <div class="container-fluid" style="padding-top:30px;">
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <span class="text-danger">*&nbsp;</span><label asp-for="EmployeeGroupName" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        <input asp-for="EmployeeGroupName" class="form-control" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="EmployeeGroupName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <span class="text-danger">*&nbsp;</span><label asp-for="LeftTime" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.LeftTime, timeList, new { Class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="LeftTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <span class="text-danger">*&nbsp;</span><label asp-for="RightTime" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.RightTime, timeList, new { Class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="RightTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <span class="text-danger">*&nbsp;</span><label asp-for="MonitorId" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.MonitorId, administratorList, new { Class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="MonitorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <span class="text-danger">*&nbsp;</span><label asp-for="OtherEmployeesId1" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.OtherEmployeesId1, administratorList, new { Class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="OtherEmployeesId2" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-right font-weight-bold">
                        <span class="text-danger">*&nbsp;</span><label asp-for="LeftTime" class="control-label"></label>：
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.OtherEmployeesId2, administratorList, new { Class = "form-control" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 text-right font-weight-bold">

                    </div>
                    <div class="col-sm-10">
                        <span asp-validation-for="OtherEmployeesId2" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 5px 5px 5px;">
        <button class="btn btn-primary btn-sm" href="javascript:void(0)" onclick="javascript:submit1()" style="width:80px">确定</button>
    </div>
</div>

<script type="text/javascript">

    function submit1() {
        if ($("form").valid()) {
            $.ajax({
                url: "/EmployeeGroup/Update",
                type: "Post",
                data: $("form").serialize(),
                dataType: "json",
                success: function (data) {
                    if (data.state == "ok") {
                        window.parent.frameReturnUpdateTrue();
                    }
                    else {
                        window.parent.frameReturnFalse(data.data);
                    }
                }
            });
        }
    }

</script>

